.idea
ArborVpn-vpn.py
charm
vscode
pycharm
db-restore
idea
st
sublime_text
signal-reset
ack
ameba
lein
micro
yapf2
sublime-text
ltunify
icr
tiddly
doom
pycharmc
pycharmp
oil
oil.ovm
osh
lapce
rtx
git-butler
wezterm
docker-patch
nomad
oh-my-posh
lobster
